:root {
  --first-color: #dbd8e3;
  --second-color: #5c5470;
  --third-color: #352f44;
  --fourth-color: #2a2438;
}

body {
  margin: 0;
  padding: 0;
  color: var(--third-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

header {
  grid-area: header;
  background-color: var(--second-color);
  padding: 5px;
  color: var(--first-color);
}

footer {
  grid-area: footer;
  background-color: var(--second-color);
  padding: 5px;
  color: var(--first-color);
  text-align: center;
}

main {
  grid-area: content;
  background-color: var(--first-color);
  padding: 5px;
  flex: 1;
}

aside {
  grid-area: sidebar;
  background-color: var(--first-color);
  padding: 20px;
  width: 250px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
}

li:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

button {
  background-color: var(--fourth-color);
  color: var(--first-color);
  padding: 10px;
  border: 0;
  border-radius: 5px;
  border-color: var(--third-color);
}

button:hover {
  background-color: var(--third-color);
  border-color: var(--second-color);
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
  min-height: 100vh;
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}